@charset "utf-8";

.header-nav {
	height: 36px;
	background-color: #484848;
	color: #A1AAA1;
}

.header-nav ul {
	height: 36px;
	overflow: hidden;
	box-sizing: border-box;
}

.header-nav ul li {
	color: #A1AAA1;
	float: left;
}

.header-nav ul li a {
	color: #A1AAA1;
	display: block;
	padding: 8px 13px;
	line-height: 20px;
	font-size: 14px;
	transition: all .2s linear;
}

.header-nav ul li:first-child a {
	padding-left: 0;
}

.header-nav ul li:last-child {
	float: right;
}

.header-nav ul li:last-child a {
	background: url(../img/community/iphone.png) no-repeat;
	background-position: 0;
	padding-left: 23px;
	padding-right: 0;
}

.header-nav ul li a:hover {
	color: #fff;
}

.header-nav .header-dl {
	position: absolute;
	width: 100%;
	background: #fff;
	padding: 10px 0;
	box-shadow: 0 1px 1px 1px #e2e2e2;
	left: 0;
	top: 36px;
	z-index: 100;
	display: none;
}

.header-nav .download {
	position: relative;
	width: 1040px;
	margin: 0 auto;
}

.header-nav .download .dlimg {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.header-nav .download a {
	position: absolute;
	width: 125px;
	height: 28px;
	left: 319px;
	top: 176px;
}

.header-nav .download a:nth-child(2) {
	position: absolute;
	width: 125px;
	height: 28px;
	left: 845px;
	top: 176px;
}

.header-nav .download a img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.header-nav-t {
	height: 80px;
}

.header-nav-t .nav-log {
	float: left;
	margin-top: 30px;
	width: 210px;
}

.header-nav-t .nav-log img {
	display: inline-block;
	margin-right: 10px;
	width: 140px;
	height: 25px;
}

.header-nav-t .nav-log span {
	display: inline-block;
	font-size: 20px;
	color: #333;
}

.user-menu {
	width: 36px;
	height: 36px;
	float: right;
	margin-top: 28px;
	margin-right: 10px;
	cursor: pointer;
}

.user-menu .menu-select {
	position: relative;
	left: -32px;
	top: 0px;
	padding: 10px;
	width: 80px;
	text-align: center;
	line-height: normal;
	background-color: #fff;
	box-shadow: 0 0 4px #ccc;
	border-radius: 3px;
	z-index: 99;
	display: none;
}

.user-menu .menu-select li {
	height: 18px;
	line-height: 18px;
	margin-bottom: 15px;
}

.bankuai-list {
	display: none;
	position: absolute;
	left: 520px;
	top: 120px;
	padding: 20px;
	box-sizing: border-box;
	background: #fff;
	z-index: 999;
	box-shadow: 0 0 10px #d2d2d2;
	height: 240px;
	width: 520px;
	overflow: hidden;
}

.bankuai-list>ul>li {
	height: 50px;
	width: 100%;
	line-height: 50px;
	color: #000000;
	font-size: 14px;
	display: block;
}

.bankuai-list .item li {
	height: 50px;
	line-height: 50px;
}

.bankuai-list .item li:first-child {
	padding-right: 20px;
	background: url(../img/community/all-menu-s.png) no-repeat 44px 21px;
}

.bankuai-list .item li a {
	display: block;
	line-height: 35px;
	color: #515151;
	font-size: 16px;
	padding: 8px 20px;
}

.nav-search {
	float: right;
	margin-top: 26px;
	margin-right: 40px;
	padding: 4px;
	border: 1px solid #eee;
}

.nav-input {
	height: 26px;
}

.nav-input input {
	border: 0;
	outline: medium;
	width: 170px;
	padding: 0px 0px 0px 10px;
	float: left;
	height: 26px;
	line-height: 26px;
}

.nav-input button {
	width: 30px;
	height: 26px;
	border: none;
	outline: none;
	cursor: pointer;
	background: url(../img/community/search.png) no-repeat;
	background-position: 50%;
}

.nav-menu {
	height: 80px;
	float: right;
	margin-right: 20px;
}

.nav-menu li {
	float: left;
}

.nav-menu li a {
	display: block;
	line-height: 20px;
	color: #515151;
	font-size: 16px;
	padding: 34px 20px;
}

.nav-menu li a:hover {
	color: #0066EE;
}

.content {
	padding-top: 20px;
	background-color: #F2F2F2;
}

.content .lft {
	width: 716px;
	height: 4890px;
	/* border: 1px solid #e6e6e6; */
	overflow: hidden;
	box-sizing: border-box;
	float: left;
}

.box-swiper {
	width: 716px;
	height: 300px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	padding-top: 15px;
	box-shadow: 2px 2px 2px #e2dede;
}

.swiper-container {
	width: 683px;
	height: 286px;
	cursor: pointer;
}

.swiper-container .slider1 {
	height: 286px;
	background: url(../img/community/swiper01.jpg) no-repeat center top;
	background-size: cover;
}

.swiper-container .slider2 {
	height: 286px;
	background: url(../img/community/swiper02.jpg) no-repeat center top;
	background-size: cover;
}

.content-hot {
	width: 100%;
	height: 520px;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 2px 2px 2px #e2dede;
}

.hot-header {
	width: 684px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #e6e6e6;
}

.hot-list {
	height: 460px;
}

.hot-title {
	float: left;
	height: 24px;
	padding: 18px 0;
	display: inline-block;
	font-size: 18px;
	color: #333;
}

.hot-sum {
	float: right;
	width: 360px;
	padding: 21px 0;
	font-size: 12px;
}

.splite {
	margin: 0 16px;
	background-color: #e7e7e7;
	width: 1px;
	height: 15px;
}

.hot-sum li {
	float: left;
	color: #000000;
}

.list-item {
	height: 70px;
	padding-top: 30px;
	box-sizing: border-box;
}

.list-item-it {
	width: 320px;
	height: 40px;
	float: left;
	margin-left: 30px;
	box-sizing: border-box;
}

.list-item-it .it-img {
	float: left;
	width: 34px;
	height: 34px;

}

.list-item-it .it-img img {
	border-radius: 50%;
}

.list-item-it .it-title {
	float: left;
	display: inline-block;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 10px;
}

.list-item-it .it-title a {
	color: #333;
}

.list-item-it .it-text span:first-child {
	margin-left: 10px;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	color: #999;
	width: 75px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.list-item-it .it-text span:nth-child(2) {
	background: url(../img/community/view.png) no-repeat;
	display: inline-block;
	margin-right: 5px;
	width: 16px;
	height: 20px;
	vertical-align: middle;
}

.list-item-it .it-text span:nth-child(4) {
	background: url(../img/community/comment.png) no-repeat;
	display: inline-block;
	margin-right: 5px;
	width: 16px;
	height: 19px;
	vertical-align: middle;
}

.list-item-it .it-text {
	float: left;
	overflow: hidden;
	margin-top: 5px;
}

.content-recom {
	width: 100%;
	height: 246px;
	background-color: white;
	margin-top: 20px;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 2px 2px 2px #e2dede;
	padding: 14px 0 14px 14px;
	box-sizing: border-box;
}

.recom-pic {
	float: left;
	width: 311px;
	height: 213px;
}

.recom-text {
	float: left;
	width: 380px;
	height: 213px;
	box-sizing: border-box;
	padding-left: 20px;
}

.content-recom .text-title {
	width: 65px;
	background-color: #0daaea;
	font-size: 16px;
	color: #fff;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
}

.content-recom .text-href a {
	color: #333;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.text-meta {
	padding-top: 10px;
}

.content-recom .text-meta span:first-child {
	display: inline-block;
	width: 22px;
	height: 14px;
	background: url(../img/community/recomXB.png) no-repeat;
	background-position: -118px -629px;
}

.content-recom .text-meta span:nth-child(3) {
	display: inline-block;
	width: 19px;
	height: 16px;
	background: url(../img/community/recomXB.png) no-repeat;
	background-position: -150px -629px;
	margin-left: 20px;
}

.content-recom .text-meta span:nth-child(5),
.content-recom .text-meta span:nth-child(6),
.content-recom .text-meta span:nth-child(7) {
	margin-left: 20px;
}

.content-recom .text-meta span:nth-child(7) a {
	color: #32a5e7;
}

.content-recom .text-content {
	margin-top: 10px;
	color: #515151;
	font-size: 14px;
	line-height: 20px;
}

.content-recom .text-weibo {
	height: 24px;
	margin-top: 16px;
}

.content-recom .text-weibo a {
	display: block;
	height: 24px;
	width: 28px;
	background: url(../img/community/recomXB.png) no-repeat;
	background-position: -60px -629px;
}

/* .content-recom .text-weibo a:hover{
	background-position: 0px -678px;
	background: cover;
} */


.content .rgt {
	width: 304px;
	height: 1400px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	box-sizing: border-box;
	float: right;

	background-color: #fff;
	padding: 16px;
	box-shadow: 2px 2px 2px #e2dede;
}

.box-data {
	width: 270px;
	height: 60px;
	background-color: #F7F7F7;
}

.data-today {
	width: 130px;
	height: 60px;
	float: left;
	line-height: 60px;
	cursor: pointer;
	box-sizing: border-box;
}

.data-sign {
	width: 120px;
	height: 60px;
	float: right;
	line-height: 60px;
	cursor: pointer;
	box-sizing: border-box;
}

.data-img {
	margin-left: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../img/community/calendar-blue.png) no-repeat;
	background-size: 20px;
	vertical-align: middle;
}

.data-text {
	color: #000000;
	font-size: 14px;
}

.data-sign {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #4fbaf2;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
}

.data-sign span {
	margin-right: 5px;
	width: 15px;
	height: 14px;
	background: url(../img/community/icon-unsign.png) no-repeat;
	background-size: 15px;
	display: inline-block;
	vertical-align: middle;
}

.box-shop {
	width: 270px;
	height: 63px;
	margin-top: 10px;
}

.shop-pic {
	height: 63px;
	float: left;
}

.shop-lottery {
	height: 63px;
	float: right;
}

.community-code {
	margin-top: 20px;
}

.hot-area {
	margin-top: 20px;
}

.area-title {
	width: 270px;
	height: 52px;
	text-align: center;
	line-height: 52px;
	background-color: #FCFCFC;
	font-size: 14px;
	color: #333;
	border-width: 2px 1px 0;
	border-style: solid;
	border-color: #00c3f5 #eee transparent;
}

.hot-area table {
	width: 100%;
	border-collapse: collapse;
	color: #333;
}

.hot-area table tr td {
	text-align: center;
	border: 1px solid #e6e6e6;
}

.hot-area table tr td:hover {
	background-color: white;
	cursor: pointer;
}

.hot-area table tr td a {
	color: #000000;
	font-size: 14px;
	display: inline-block;
	padding: 15px 0;
	width: 100%;
}

.hot-area table tr td a:hover {
	color: #4fbaf2;
}

.tr-odd {
	background-color: #F7F7F7;
}

.tr-even {
	background-color: #FCFCFC;
}

.activity-new {
	margin-top: 20px;
}

.activity-title {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	height: 30px;
	border-bottom: 1px solid #e6e6e6;
}

.activity-event {
	width: 100%;
	height: 100px;

	margin-top: 20px;
}

.event-img {
	float: left;
}

.event-text {
	width: 128px;
	height: 95px;
	float: right;
}

.event-text div:first-child {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}

.event-text div:nth-child(2) {
	line-height: 20px;
	height: 44px;
	overflow: hidden;
	padding-top: 3px;
	color: #515151;
}

.event-text button {
	background-color: #4ebaf2;
	width: 64px;
	font-size: 12px;
	color: #fff;
	border-radius: 2px;
	height: 25px;
	border: none;
}

.event-text button:hover {
	cursor: pointer;
}

.course-new {
	margin-top: 20px;
}

.course-pic {
	margin-top: 15px;
}

.course-choose {
	height: 60px;
	margin-top: 10px;
}

.course-choose div {
	width: 90px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	color: #000000;
	float: left;
	box-sizing: border-box;
}

.course-choose div:nth-child(2),
.course-choose div:nth-child(3),
.course-choose div:nth-child(5),
.course-choose div:nth-child(6) {
	background: url(../img/community/public.png) no-repeat;
	background-position: -390px 0;
}

.tag-system {
	margin-top: 10px;
}

.tag-system .tag-title {
	height: 40px;
}

.tag-system .xt {
	width: 135px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	float: left;
	color: #000000;

	cursor: pointer;
	box-sizing: border-box;
}

.tag-system .xt:first-child {
	border-bottom: none;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	color: #32a5e7;
}

.tag-system .xt:last-child {
	border-bottom: 1px solid #e6e6e6;
}

.tag-main div:first-child {
	font-weight: bold;
}

.tag-main div:first-child,
.tag-main div:nth-child(2),
.tag-main div:nth-child(3) {
	margin-top: 10px;
	font-size: 14px;
	color: #000000;
}

.tag-main div:nth-child(4),
.tag-main div:nth-child(5) {
	margin-top: 15px;
	display: inline-block;
}

.tag-main div:nth-child(4) a,
.tag-main div:nth-child(5) a {
	font-size: 14px;
	color: #32a5e7;
}

.tag-main div:nth-child(4) a:hover,
.tag-main div:nth-child(5) a:hover {
	color: #007AFF;
}

.tag-main div:nth-child(4) span,
.tag-main div:nth-child(5) span {
	display: inline-block;
	width: 10px;
	height: 9px;
	margin-left: 5px;
	margin-right: 30px;
	background: url(../img/community/main_icon.png) no-repeat 0 -88px;
}

.tag-main .main-load {
	width: 270px;
	height: 46px;
	margin-top: 20px;
}

.tag-main .main-load a {
	display: block;
	width: 270px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	color: white;
	font-size: 18px;
	background-color: #32A5E7;
}

.tag-system .hidden {
	display: none;
}
#scrolltop {
	display: none;
	width: 48px;
	height: 48px;
	position: fixed;
	right: calc(((100% - 1040px) / 2) - 70px);
	bottom: 80px;
	background-color: #ffffff;
	background: url(../img/community/scrolltop2.jpg) no-repeat 0 -48px;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 0px 5px #e6e6e6;
	cursor: pointer;
}
#scrolltop:hover{
	background: url(../img/community/scrolltop2.jpg) no-repeat 0 0;
}
.footer {
	background-color: white;
}

.footer-message  {
	padding-top: 30px;
	width: 1000px;
	height: 20px;
}
.footer-message ul {
	width: 1000px;
	height: 20px;
}

.footer-message ul li {
	float: left;
	padding-right: 15px;
	border-right: 1px solid #d6d6d6;
	height: 18px;
	margin-right: 15px;
}

.footer-message ul li:last-child {
	border-right: none;
}

.footer-message ul li a {
	color: #999;
	display: block;
	line-height: 18px;
}


.footer-message ul li:last-child span {
	margin-right: 5px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/community/footerXB.png) no-repeat 0 0;
	background-size: cover;
	float: left;
}

.language-select {
	width: 300px;
	position: relative;
	top: -188px;
	left: -10px;
	display: none;
	overflow: hidden;
	width: 115px;
	background: #fff;
	border: 1px solid #f1f1f1;
	z-index: 999;
}
.language-select ul{
	width: 117px;
	float: none;
}
.language-select ul li{
	border: none;
	float: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 0;
	height: 25px;
	margin-right: 0;
}
.language-select ul li:nth-child(2) span{
	background: url(../img/community/footerXB.png) no-repeat;
	background-position: 0 -17px;
	background-size: cover;
}
.language-select ul li:nth-child(3) span{
	background: url(../img/community/En.png) no-repeat;
	background-position: 0 0;
	background-size: cover;
}
.language-select ul li:nth-child(4) span{
	background: url(../img/community/footerXB.png) no-repeat;
	background-position: 0 -70px;
	background-size: cover;
}
.language-select ul li:nth-child(5) span{
	background: url(../img/community/footerXB.png) no-repeat;
	background-position: 0 -300px;
	background-size: cover;
}
.footer-messager{
	margin-top: 10px;
	padding-bottom: 30px;
}
.footer-messager img{
	display: inline-block;
	margin-bottom: -3px;
}
.footer-messager a{
	color: #999999;
}

.footer-messager .fivea{
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url(../img/community/footer-min-01.png) no-repeat;
	margin-bottom: -3px;
}
.footer-messager .fivea:hover{
	background: url(../img/community/footer-min-hide-01.png) no-repeat;
}
.footer-messager .sixa{
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url(../img/community/footer-min-02.png) no-repeat;
	margin-bottom: -3px;
}
.footer-messager .sixa:hover{
	background: url(../img/community/footer-min-hide-02.png) no-repeat;
}
.footer-messager .sevena{
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url(../img/community/footer-min-03.png) no-repeat;
	margin-bottom: -3px;
}
.footer-messager .sevena:hover{
	background: url(../img/community/footer-min-hide-03.png) no-repeat;
}